<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie details</title>
</head>
<body>
    <a href="/">Home</a>
    <br>
    <a href="/movies/create">Add a Movie</a>
    <br>
    <a href="/movies">Movies List</a>
    <br>
    
    <h2>Movie details</h2>
        <div id="movie-details">
        {{#with movie}}
            <h5><strong>Title: </strong> {{title}}</h5>
            <h5><strong>Genre: </strong>{{genre}}</h5>
            <h5><strong>Plot: </strong>{{plot}}</h5>
            {{#each cast}}
            <h5><strong>Cast name: </strong>{{name}}</h5>
            <h5><strong>Cast occupation: </strong>{{occupation}}</h5>
            <h5><strong>Cast Catch Phrase: </strong>{{catchPhrase}}</h5>
            {{/each}}
            
            <form action="/movies/{{this._id}}/delete" method="POST">
            <br>
            <a class="btn btn-primary m-3" href="/movies/{{this._id}}/edit">Edit</a>
            <button class="btn btn-primary" type="submit">Delete</button>
            </form>
        {{/with}}
        </div>
</body>
</html>